.component {
  /* cancel default popover settings */
  border-style: none;

  /* anchor position settings */
  position: absolute;
  position-anchor: --anchor-el;
  position-area: bottom span-right;

  margin: 0;

  background-color: antiquewhite;
  transition: display 0.3s allow-discrete;
  overflow-y: hidden;
}

.component {
  animation: 0.3s forwards shrink;
}

.component:popover-open {
  animation: 0.3s forwards expand;
}

@keyframes expand {
  from {
    height: 0;
  }

  to {
    height: calc-size(max-content, size);
  }
}

@keyframes shrink {
  from {
    height: calc-size(max-content, size);
  }

  to {
    height: 0;
  }
}
