.component {
  /* cancel default popover settings */
  border-style: none;

  /* anchor position settings */
  position: absolute;
  position-anchor: --anchor-el;
  position-area: bottom span-right;

  margin: 0;

  background-color: antiquewhite;
}
