.component {
  /* cancel default popover settings */
  border-style: none;
  /* popover element has weird large margins  */
  margin: 0;

  /* anchor position settings */
  /* position: absolute; /* this is not necessary if you use popover in combo with anchor */
  /* position-anchor: --anchor-*********; /* this should be supplied by the style attribute instead */
  position-area: bottom span-right;

  background-color: antiquewhite;
  transition: display 0.3s allow-discrete;
  overflow-y: hidden;
}

.component {
  animation: 0.3s forwards shrink;
}

.component:popover-open {
  animation: 0.3s forwards expand;
}

@keyframes expand {
  from {
    height: 0;
  }

  to {
    height: calc-size(max-content, size);
  }
}

@keyframes shrink {
  from {
    height: calc-size(max-content, size);
  }

  to {
    height: 0;
  }
}
