.component {
  /* Cancel button's default styling */
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  font-size: unset;

  /* grid layout */
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1px;

  background-color: lightgray;
}

.left {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-right: solid 1px white;
}

.right {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
